
#root {

  width: 1280px;
  margin: auto;
  padding:0px 0px 0px 0px;

}

#diceTable{
  height: 600px;
  min-width: 1280px !important;
  width: 1280px !important;
}
#diceTableHeading{
  min-width: 1280px !important;
}
#OCDescription{
  min-width: var(--min-slideout-width); 
}

.die {

  padding: 1.5em;
  filter: drop-shadow(0 0 2em #6a07db7c);

}
.die:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


