#root {
  max-width: 1280px;
  margin: auto;
  padding:0px 0px 0px 0px;
  text-align: center;
}

#diceTable{
  max-height: 600px;
  height: 100vh;
  width: 100vw;
}


.logo {

  padding: 1.5em;
  filter: drop-shadow(0 0 2em #6a07db7c);

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


